<SpaceSettings>
  <UniverseSize>750</UniverseSize>
  <MSPerFrame>16</MSPerFrame>
  <FramesPerShot>6</FramesPerShot>
  <RespawnRate>300</RespawnRate>
  <StartingHP>5</StartingHP>
  <EnginePower>0.2</EnginePower>
  <RespawnTime>120</RespawnTime>
  <Star>
    <x>0</x>
    <y>0</y>
    <mass>0.01</mass>
  </Star>
  <FancyGame>Yes</FancyGame>

<!-- We can add other stars too (or none) 
  <Star>
    <x>100</x>
    <y>100</y>
    <mass>0.005</mass>
  </Star>
 -->
</SpaceSettings>